table {
  width: 100%;
}
mat-card-title{
  border-bottom:1px solid gray;
  padding-bottom:5px;
  display:flex;
  flex:1 0 0;
}
.back-header{
  margin: auto 1px;
}

form {
  display:flex;
  flex-direction: column;
  padding: 15px 15px 0px;
  box-shadow: 0 5px 5px -3px rgba(0,0,0,.2), 0 8px 10px 1px rgba(0,0,0,.14), 0 3px 14px 2px rgba(0,0,0,.12)
}
form input{
  flex: 1;
}