<div class="container" [@slide]="activePane">
	<div>
		<mat-card class="mat-elevation-z">
			<mat-card-title>
				<label class="back-header">Kullanıcı Listesi</label>
	  </mat-card-title>
    <mat-card-content>
		<table mat-table [dataSource]="users" class="mat-elevation-z8">
			<ng-container matColumnDef="btnDetails">
				<th mat-header-cell *matHeaderCellDef>Detaylar</th>
				<td mat-cell *matCellDef="let element">
					<!--	<button mat-raised-button (click)="onSelection(element)" >Details</button> -->
					<input type="checkbox"  [(ngModel)]="isUserSelected">
        </td>
      </ng-container>
      <ng-container matColumnDef="name">
        <!-- <td><button  mat-button (click)="onSelection(element)">Seç</button></td> -->
        <th mat-header-cell *matHeaderCellDef>İsim</th>
        <td mat-cell 
            *matCellDef="let element">{{element.name}}
        </td>
      </ng-container>
      <ng-container matColumnDef="surname">
        <th mat-header-cell *matHeaderCellDef>Soyisim</th>
        <td mat-cell 
            *matCellDef="let element">
            {{element.surname}} 
        </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="['name', 'surname']"></tr>
      <tr mat-row *matRowDef="let element; columns: ['name', 'surname']"(click)="onSelection(element)"></tr>
    </table>
    </mat-card-content>
    </mat-card>
  </div>
  <div>
    <user-details 
        (returnToList)='onReturnToList($event)'
        [userId]="selectedUser?.id">
    </user-details>
  </div>
</div>