table {
  width: 100%;
}
:host {
  display: block;
  overflow: hidden; /* Hide everything that doesn't fit compoennt */
}
.container {
 
  height: 100%;
  width: 200%;      /* Make the parent element to take up twice
                       of the component's width */
  display: flex;    /* Align all children in a row */
}
.container div{
  flex: 1; /* Evenly divide width between children */
}
tr{
  cursor: pointer;
}
tr:hover{
  background-color: #e2e2e2;
}
th{
 cursor: not-allowed;
}
mat-card-title{
  border-bottom:1px solid gray;
  padding-bottom:5px;
  display:flex;
  flex:1 0 0;
}