<div [@trgSlide]="selectedIndex" class="slider-container">
    <div *ngIf="selectedIndex==-1" class="slide">
        <h1 style="text-align:left;margin: 2%">Alarmlar</h1>
        <ngx-charts-advanced-pie-chart class="ngchart" [results]="pieData" [view]=[655,180] [label]="'Toplam Alarm sayısı'">
        </ngx-charts-advanced-pie-chart>
    </div>
    <div class="slide" *ngFor="let grp of _groupedAlarms">

        <h1 class="{{grp[0].color}}" style="text-align:left;margin: 2% "><b *ngIf="grp">{{grp[0].name}} </b></h1>
        <div *ngFor="let a of grp">

            <div  style="text-align:left;margin: 2% 5%">
                <mat-icon style="font-size:10px" >fiber_manual_record</mat-icon>
                <b *ngIf="a">{{a.roomName}} </b>, <b style="text-align:left;margin: 2%" *ngIf="a">{{a.time}} </b>
            </div>
        </div>

    </div>
    <button mat-button class="btn-icon btn-left" (click)="previous()">
        <mat-icon>keyboard_arrow_left</mat-icon>
    </button>
    <button mat-button class="btn-icon btn-right" (click)="next()">
        <mat-icon>keyboard_arrow_right</mat-icon>
    </button>
</div>