<gridster  id="mainGridster" [options]="options" (drop)="onDrop($event)" style="background-color: transparent;">
	<gridster-item [item]="item" *ngFor="let item of dashboardArray">
		<button class="btn btn-icon btn-danger" style="float:left;margin-top: 10px;" (click)="removeItem(item)">
			<clr-icon shape="trash"></clr-icon>
		</button>

		<button class="btn btn-icon drag-handler" style="float:left;margin-top: 10px;">
			<clr-icon shape="drag-handle"></clr-icon>
		</button>
		<!-- 
			Disable drag option with no-drag class 
			ndc-dynamic tag is from ng-dynamic-component library 
			he generates a dynamic component on the fly
		-->
		<ndc-dynamic class="no-drag" [ndcDynamicComponent]="item.component" (moduleInfo)="display($event)"></ndc-dynamic>
	</gridster-item>
</gridster>