<header class="header-6">
	<div class="header-nav">
		<!-- toggleMenu() calle when clicked -->
		<a class="nav-link nav-icon" (click)="toggleMenu()">
			<clr-icon shape="bars" class="is-inverse"></clr-icon>
		</a>
	</div>
</header>


<div class="content-container">
	<nav class="sidenav" *ngIf="toggle">
		<section class="sidenav-content">
			<section class="nav-group collapsible">
				<input id="tabexample1" type="checkbox">
				<label for="tabexample1">Components List</label>
				
				<ul class="nav-list">
				
					<li *ngFor="let tool of toolboxComponents">
          
						<!-- 
							Draggable widget from store using vanilla javascript event (dragstart)
							onDrag() is call, it take $event and a widget identifier as parameters
						-->
            <a 
              draggable="true" 
              class="nav-link"
              (dragstart)="onDrag($event, tool.componentName)">
                <i [ngClass]='tool.icon'></i>{{tool.desc}}
            </a>
					</li>
         
				</ul>

          

			</section>
		</section>
	</nav>
	

	<mat-tab-group style="width:100%">
		<mat-tab label="First" style="width:100vw;height:100vh"> 
				<router-outlet></router-outlet>	
		</mat-tab>
		<mat-tab label="Second"> 
			Content 2 
		</mat-tab>
		<mat-tab label="Third"> 
			Content 3 
		</mat-tab>
	</mat-tab-group>
	
	
</div>